/*TARJETAS O CARRUSEL*/
.tarjeta{
    width: 100%;
    background-color:#e9e9e9ee ;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin:5px 5px 30px 5px; 
}

.tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#contenedorPrincipal-contenedorTarjetas{ 
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 100px;
    margin:15px;
    margin-bottom: 0px;
}

@media only screen and (min-width:500px){
    .tarjeta{
        width: 20%;
    }

    #contenedorPrincipal-contenedorTarjetas{
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 110px;
    }

}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#e9e9e9ee ;
    padding: 10px;
}

.tarjeta .contenedorTexto p{
    font-weight: 700;
    text-align: justify;
}


#contenedorContactenosTitulo{
    margin-top: 20px;
}

/*CSS DEL MODAL*/

.modal{
    display: none;
    background-color: #f6f5f5;
    position: fixed; /* fija la posición */
    z-index: 1; /* lo envia al frente */
    padding-top: 12px; /* ubica la caja */   /*MODIFICAR*/
    left: 0;
    top: 0;
    width: 100%; /* amplia el tamaño */
    height: 100%; 
    overflow: auto; /* habilita el scroll si es necesario */
}

#contenedor{      /*MODIFICAAR*/
    display: flex;
    padding: 25px;
    flex-direction: column;
}

#contenedorInformacion{  /*MODIFICAR*/
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: rgba(0, 0, 0, 0.253) 1px solid;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
}

#contenedorInformacion p {
    font-size: 20px;
}

#impuestos{
    font-size: 12px;
}

#contenedorImagen {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#imgProducto{
    width: 80%;
    border-radius: 5px;
}

#contenedorInformacion, #contenedorImagen, #cerrar{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {  /****************************************************************************************************************/
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {   /****************************************************************************************************************/
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

#formularioCotizacion{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-top: 5px;
}

#formularioCotizacion input{
    border: rgba(0, 0, 0, 0.253) 1px solid;
    border-radius: 5px;
}


#cerrar {    /****************************************************************************************************************/
    position: absolute;
    top: 0px;
    right: 20px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#cerrar:hover,   /****************************************************************************************************************/
#cerrar:focus {
    color: rgba(43, 43, 43, 0.74);
    text-decoration: none;
    cursor: pointer;
    font-size: 60px;
}

#botonCotizar {
    align-self: center;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px;
    font-weight: 600;
    margin-bottom: 4px ;
}

#resultadoCotizacion{
    display: none;
    background-color: white;
    margin-top: 4px;
    border: rgba(0, 0, 0, 0.253) 1px solid;
    border-radius: 5px;
    padding: 6px;
    width: 100%;
}

@media only screen and (min-width:500px){ /*ESTO CAMBIA EL TAMANIO DEL NAV PARA ADAPTARSE A LOS TELEFONOS*/ /********************************************/
    #imgProducto {
        width: 40%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    #contenedorInformacion {
        width: 30%;
        align-items: center;
    }

    #resultadoCotizacion{
        width: 30%;
        text-align: center;
    }

    #contenedor{
        align-items: center;
    }
}