*{
    margin: 0px;
    padding: 0px;
}

#contenedorInfo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}


#contenedorInfo-titulo{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 35px;
}

#contenedorInfo-titulo h2{
    font-size:xx-large;
    font-weight: 600;
}

#contenedorInfo-datos div{
    margin: 15px;
}

#contenedor-parrafos{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: larger;
    font-weight: 600;
    width: 90%;
    padding: 15px;
}

#contenedorVideo{
    display: flex;
    flex-direction: column;
}

 #videoPromo{
    width: 95%;  
    border-radius: 5px;
    padding: 0px 7.5px 0px 7.5px;
}

#controlesVideo{
    display: none;
    justify-content: space-between;
    width: 93%;
    padding: 0px 7.5px 0px 7.5px;
    background-color: #7e7e7e59;
    height: 25px;
    margin-left: 7px;
}

i{
    cursor: pointer;
}

@media only screen and (max-width:500px){
    #contenedorInfo{
        flex-direction: column;
    }
}

