
#contenedorContactenosTitulo h2{
    font-size: 32px;
}

#contenedorContactenos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

#contenedorContactenosCorreos{
    padding: 10px;
}


iframe{
    margin: 20px;
    width: 85%;
}


#contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedorFormulario h2{  /**/
    text-align: center;
    margin-bottom: 30px;
}

#formularioPregunta{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: rgba(114, 114, 114, 0.541) 1px solid;
    border-radius: 9px;
    background-color: white;
}

#formularioPregunta label{
    font-weight: 600;
}

#formularioPregunta input, textarea{
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    border: rgba(114, 114, 114, 0.541) 1.5px solid;
}

#formularioPregunta input[type="submit"]{
    width: 25%;
    text-align: center;
    align-self: center;
}

#contenedorContactenosCorreos p{
    font-size: 20px;
    font-weight: 600;
}

#contenedorModal{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 40px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

#modalFormulario{  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f6f5f5;
    padding: 25px;
    margin:20% 20px 20px 20px;
    font-weight: 600;
    border-radius: 10px;
    border: rgba(114, 114, 114, 0.541) 1.5px solid;
}

#confirmacion, #negacion{
    background-color: white;
    align-self: center;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    border: rgba(114, 114, 114, 0.541) 1.5px solid;
}

#preguntaModalFormulario{
    align-self: center;
}

#modalFormulario { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {  
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {   
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

#modalFormulario p{
    word-break: break-all;
}

#advertencia{
    display: none;
    hyphens: auto;
    font-weight: 600;
    margin-left: 5px;
}

#conteBotones{
    display: flex;
    justify-content: center;
}