*{
    font-size: 27px;
}

.logoPrincipal{
    margin-bottom: -15px;
}

#palabra2 {
    margin-left: -60px;
}

#controlesVideo {
    display: none;
    justify-content: space-between;
    width: 93%;
    padding: 0px 7.5px 0px 7.5px;
    background-color: #7e7e7e59;
    height: 45px;
    margin-left: 7px;
}

#confirmacion, #negacion {
    background-color: f6f5f5;
    align-self: center;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    border: rgba(114, 114, 114, 0.541) 1.5px solid;
}